body{
    color: #666666;
    background-color: #ffffff;
    /* background-position: center; */
    /* font-family: Georgia, Times, serif; */
    font-family: Helvetica;
    line-height: 1em;
    margin: 0px;
    
}

/* lề của mỗi cột
960px | 12 cột | mỗi cột 60px
mỗi cột có lề là 10px
margin:0 10px 15px 10px; 
*/
.img-header{
    top: 20%;
    margin:0 10px 15px 10px;
}
.navheader{
    margin:0 20px 15px 20px;
}


header{
    /* height: 100px; */
    background-color: rgb(255, 255, 255);
    font-size: 0.9em;
}
article{
    background-color: rgb(255, 255, 255);
    width: 960px;
    height: 2500px;
}

section{
    background-color: rgb(255, 255, 255);
}

.container{
    width: 960px;
    /* height: ; */
    margin: 20px auto 20px auto;
    border: 2px solid #fcfdff;
    background-color: #ffffff;
}

.lineone>th>nav>ul>li>a{
    color: rgb(82, 158, 89);
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: small;
}


.linetwo{
    background: rgb(255, 255, 255);
    font-size: 0.9em;
    color: rgb(165, 162, 162);
}
.linetwo>th>nav>ul>li>a{
    color: rgb(204, 195, 195);
}

ul{
    list-style: none;
}

/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
.menu-nav li ul{
    display: none;
    position: absolute;

}
.menu-nav li>ul li{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    text-align: left;

}
.menu-nav li>ul li:first-child a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.menu-nav li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu-nav li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*khi hover thì hiện menu con*/
.menu-nav  li:hover > ul{
    display:  block;
    z-index: 2;
}
.menu-nav li>ul li >a{
    color: rgb(82, 158, 89);

}



a{
    text-decoration: none;
    /* color: black; */
}

.innner-header{
    display: flex;
    /* justify-content: space-between; */
}

ul.menu-nav{
    display: flex;
}

ul.menu-nav a{
    text-transform: uppercase;
    padding: 10px 20px; 
    color: black   ;
    
}

.slogon h1{
    color: rgb(82, 158, 89);
}

.slogon{
    text-align: center;
}




.searchthongtin{
    text-align: center;
    float: center;
}

.searchthongtin>input{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 300px;
    height: 50px;

}
.searchclick{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.nutsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .475rem .75rem;
    border-radius: 1rem;
    border: 1px solid #bebebe;
    white-space: nowrap;
    line-height: 1rem;
    font-size: .75rem;
    background-color: rgba(241, 241, 241, 0.986);
}

.bg_main{
    width:100%;
	float:left;
	height:auto;
	border-bottom:solid 10px #e7dcdc;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.product{
    width:220px;
    float:left;
    height:auto;
    margin:0 10px 15px 10px;
    overflow: hidden;
}
.product .picture{
    width:100%;
	float:left;
	height:180px;
	text-align:center;
}

.product .title{
    width:100%;
    float:left;
    height:auto;
    margin:12px 0 0 0px;    
}


.product .picture{
    position: relative;
}

.picture .pictureproduct{
    opacity: 1;
    transition: all 0.65s;
    width: 150px;
    height: 176px;  
}
.picture .picturehide{
    opacity: 0;
    transition: all 0.65s;
    width: 150px;
    height: 176px;
    position: absolute;
    left: -50%;  
    top: 8%;
    visibility: hidden;
    border-radius: 5px;
}

.picture:hover .pictureproduct{
    opacity: 0;
}
.product:hover .picturehide{
    opacity: 1;
    visibility: visible;
    left: 18%;
}

.title h3{
    text-align:center;
    width:100%;
    line-height:20px;
    float:left;
    display:block;
    font-weight:bold;
    font-size:14px;    
}
.title h3 a{
    text-align:center;
	color:#222222;
	text-align:center;
	width:100%;
	line-height:20px;
	float:left;
	display:block;

}
.titlephanloai h3>a{
    color: rgb(31, 133, 42);
}
.titlephanloai >h3{
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;

}

.nextpage{
    text-align: center;
    margin: 4px auto;
    width: 100%;
    float: left;
}

.container .phanloainhakinh {
    width: 100%;
    float: left;
    height: 681px;
    background: url(picture/nhakinh.png) no-repeat top center;
    border-radius: 7px;
    margin: 10px 0 10px 0px;
    padding: 0px 0 0 0px;
    display: block;
}
.nhakinhphanloai{
    width: 300px;
    height: 260px;
    float: left;
    margin: 40px 10px 15px 10px;
    overflow: hidden;
}
.phanloainhakinh .anhnhakinhphanloai{
    width: 100%;
    float: left;
    height: auto;
    margin-left: -40px;
    /* border-radius: 10px;
    border: solid 5px #fff;
    box-shadow: 0px 5px 5px #888888;
    height: 219px; */
}
.nhakinhphanloai .anhnhakinhphanloai{
    position: relative;
}
.bgwhite{
    opacity: 0.5;
    background: white;
    width: 0px;
    height: 0px;    
    position: absolute;
    top: 16px;  
    /* top: 210px; */
    justify-content: center;
    visibility: hidden;
    transition: all 0.35s; 
}
.anhnhakinhphanloai:hover .bgwhite{
    opacity: 0.5;
    visibility: visible;
    text-align: center;
    width: 280px;
    height: 194px;
    /* top: 18px; */
}


.boderkienthuc{
    border-radius: 10px;
    border: solid 5px rgb(82, 158, 89);
    box-shadow: 0px 5px 5px #888888;
    height: 176px;
    width: 150px;
}

.container .kienthuc{
    width: 100%;
    float: left;
    height: 681px;  
    background: url(picture/kienthuc/back.png) no-repeat top center;
    border-radius: 7px;
    margin: 10px 0 10px 0px;
    padding: 50px  0 0 0px;
    display: block;
}   
.product .picture{
    position: relative;
}

.picture .pictureproduct2{
    opacity: 1;
    transition: all 4s;
    width: 150px;
    height: 176px;  
    border-radius: 5px;
}
.picture .picturehidewhite{
    background: white;
    opacity: 0.7;
    transition: all 0.35s; 
    width: 162px;
    height: 190px;
    position: absolute;
    left: -50%;  
    top: 8%;
    visibility: hidden;
    border-radius: 5px;
}

.product:hover .picturehidewhite{
    opacity: 0.7;
    visibility: visible;
    left: 18%;
}
.footerimg{
    width: 960px;
    height: 73px;
    margin-top: -80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    float: left;
    background: url(picture/footer.jpg) no-repeat center top;
}

.phanduoi .innnerfooter{
    width: 1143px;
    height: 264px;
    background: silver;
    margin: 0 auto;
    clear: both;
    display: block;
    text-align: left;
    color: #fff;
    line-height: 20px;
} 
.imgcuoi{
    border-radius: 20px;
}
.phanduoi{
    background: rgb(82, 158, 89);
    color: #fff;
    font-size: smaller;
}